.attraction-image {
    width: 100%; /* O puedes usar un valor fijo, como 300px */
    height: 200px; /* Establece una altura fija */
    object-fit: cover; /* Mantiene la proporción y recorta si es necesario */
}